{% extends 'base.html' %}
{% block title %} Cliend | O'chirish {% endblock %}
{% block page %} {{ cliend.name }} ni o'chirish {% endblock %}

{% block content %}
<form method="post" style="margin: 20px;">
    {% csrf_token %}

    <h4>Haqiqatan ham <strong>"{{ cliend.name }}"</strong> cliendni o‘chirmoqchimisiz?</h4>
    <br>
    <button type="submit" class="btn btn-danger">O‘chirish</button>

    <a href="{% url 'clients' %}">
        <button type="button" class="btn btn-success">Bekor qilish</button>
    </a>
</form>
{% endblock %}
